//    Font Family
$primary-font: 'Barlow Condensed', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$hover-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);

// Shakil
// Font-Family

// Others Colors
$bg-color: #34cbc1;
$text-color: #b8bdc6;
$text-color1: #7e8798;
$text-color2: #2395ff;
$text-color3: #515876;
$text-color4: #b1b1b1;
$icon-color: #757b93;
$black: #000;
$white: #fff;
$btn-bg: #0084ff;
$border-color: #e1e4e4;
$border-color1: #e0e1e7;
$bg-color1: #34cbc1;
$bg-color2: #eaf2f3;
$bg-color3: #091d3e;
$bg-color4: #2eb5b0;
$bg-color5: #f5f6fa;
$bg-color6: #eaf2f3;
$bg-color7: #f8f9fa24;
$bg-color8: #e6f1f7;

// dipu
$border-color2: #E3E6E8;
$border-color3: #dfe0e5;

$placeholder-text-color: #515876;

$text-color5: #7b8491;
$text-color6: #091d3e;
$text-color7: #E4F8F7;
$text-color8: #132573;



$bg-color9: rgba(0, 0, 0, 0.1);
$bg-color10: #eff3f9;
$bg-color11: rgba(0, 0, 0, 0.5);
$bg-color12: rgba(20, 42, 74, 0.9);
