.about {
  .img-container {
    @media (max-width: 575px) {
      width: 60%;
      margin: auto;
    }
  }
  .about-right {
    width: 90%;
    .about-right-top-h {
      text-align: left;
      margin-left: 40px;
      &::before {
        left: -40px;
        width: 30px;
        @media (max-width: 767px) {
          left: -40px !important;
        }
      }
      &::after {
        display: none;
      }
    }
    .about-right-h {
      text-align: left;
      @media (max-width: 1199px) {
        font-size: 50px;
      }
      @media (max-width: 425px) {
        font-size: 35px;
      }
    }
    .para-top {
      margin: 40px 0;
      color: $text-color3;
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 16px;
    }
    .para-bottom {
      padding-bottom: 30px;
      color: $text-color3;
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 16px;
    }
    @media (max-width: 991px) {
      padding-top: 50px;
      width: 100%;
    }
  }
  .about-rm-btn {
    margin-top: 20px;
  }
  .about-bottom-btn {
    @media (max-width: 767px) {
      width: 35%;
      margin: auto;
    }
    @media (max-width: 425px) {
      width: 42%;
    }
    @media (max-width: 375px) {
      width: 48%;
    }
  }
}
